/********************* GLOBAL *********************/
.fw-bold{
  font-weight: 700;
}
.display-5{
  font-size: 3rem !important;
}
.fs-4{
  font-size: 1.5rem !important;
}
.rounded-3{
  border-radius: .5rem;
}

/******************** CONTENT ********************/
.box-header{
  width: 4rem;
  height: 4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

/******************** RESPONSIVE *******************/
@media screen and (min-width: 1400px) {
  .container{
    max-width: 1200px;
  }
}